<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197068666277-46m36iqtto15pr52bo8tmr3el6i61cvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197068666277-46m36iqtto15pr52bo8tmr3el6i61cvh</string>
	<key>API_KEY</key>
	<string>AIzaSyA9JItKADe7-IIaOZZDd2RYnMyD8TerSdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>197068666277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dude.Hacktoberfest</string>
	<key>PROJECT_ID</key>
	<string>hacktoberfestlviv</string>
	<key>STORAGE_BUCKET</key>
	<string>hacktoberfestlviv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197068666277:ios:b620da08427a90d18aa44c</string>
	<key>DATABASE_URL</key>
	<string>https://hacktoberfestlviv.firebaseio.com</string>
</dict>
</plist>